.timer-display {
  display: flex;
  flex-direction: row;
  gap: 6px;
  background-color: #e1f5fe;
  border-radius: 100px;
  color: var(--theme-primary-700);
  align-items: center;
  padding: var(--basicui-button-padding);
  height: var(--basicui-formelement-height);
}

.timer-display p {
  margin: 0;
  font-size: 12px;
}

.timer-display svg {
  height: 16px;
  width: 16px;
  color: var(--theme-primary-700);
}

.timer-display .timer-end {
  color: var(--theme-danger-800);
}

.change-bg-color {
  background-color: #efdadd;
}

.blink {
  animation: blinker 1s step-end infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
