.main-page-container {
  display: grid;
  min-height: calc(100vh - 42px);
  max-width: calc(100vw - 42px);
  margin: auto;
}
.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* column-gap: 24px; */
  /* margin-top: 42px; */
  background-color: var(--basicui-bg-accent);
  border-radius: 12px;
  /* min-height: calc(100vh - 42px - 100px); */
  margin: auto;
  width: 980px;
  max-width: calc(100vw - 42px);
  min-height: calc(100vh - 42px - 42px - 42px);
}

.main-page__left ,.main-page__right{
    display: grid;
    width: 100%;
    align-content: center;
  }
  
.main-page__left {
  background-color: #e1f8fe;
  color: #007ba0;
  /* margin: 4px; */
  padding: 24px;
  border-radius: 12px 0 0 12px;
}
.basicui-dark .main-page__left {
  background-color: #417584;
  color: #ffffff;
}
.main-page__right {
  padding: 24px;
}
